body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#epicode-logo{
    background-image: url(../img/epicode_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 75px;
}