@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Outfit:wght@300;400;700&display=swap');

body{
    margin: 0;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}

.container {
    padding: 2em 4em;
    min-width: 768px;
    width: 50%;
    margin: auto
    
}

#epicode-logo{
    background-image: url(../img/epicode_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 75px;
}

h1 {
    font-size: 60px; 
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    line-height: 0.8em;
}

#boxQuestionAnswer{
    margin-top: 3em;
}

h2{
    color: #d20094;
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
}

ul{
    padding: 0;
    margin: 2.5em 1.5em;
    line-height: 1.5em;
}

form{
    margin-top: 5em;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form div{
    display: flex;
}

form button{
    border-style: none;
    background-color: #00FFFF;
    box-shadow: 0 0 40px #00FFFF;
    padding: 1.5em 4em;
    font-weight: 700;
    font-size: 1rem;
}



form span{
    font-size: 0.85rem;
    font-weight: 700;
}

.containerAnswer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.answer{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

label{
    width: 30%;
    margin-top: 30px;
    color: white;
    font-family: 'Outfit', sans-serif;
    border-radius: 50px;
    border-top:solid  3px white;
    border-left:solid  3px linear-gradient(top #e6dddd right, #e6dddd 0%, #9c9ea0 100%);
    border-bottom:solid  3px rgba(255, 255, 255, 0.418);
    border-right:solid  3px rgba(255, 255, 255, 0.219);
    padding:20px 50px;
    background-color: rgba(240, 248, 255, 0.151);
    cursor: pointer;
}

label:hover{ 

 background-color: rgba(240, 248, 255, 0.308) ;

}

#thisQuestion{ 

    font-stretch: expanded;
    text-align: center;
    font-size: 16px;
    margin-top: 120px;
    color: white;
    font-family: 'Outfit', sans-serif;

}

#thisQuestion span{
    color:#a6018b;
    font-size: 16px;


}

.questions{
    line-height: 1;
    text-align: center;
    margin-bottom: 60px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
}
input{
    text-decoration-style: none;
}