@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Outfit:wght@300;400;700&display=swap');
/* formattazione uguale */
body{
    margin: 0;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}

.container {
    padding: 2em 2em;
    min-width: 768px;
    width: 50%;
    margin: auto;
    
}

#epicode-logo{
    background-image: url(../img/epicode_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 75px;
}
/* formttazione uguale a quella di Luigi */
h1 {
    font-size: 60px; 
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    line-height: 0.8em;
    font-weight: bold;
}

/* modifiche mie su h3 */
h3{
    color: white;
    /* font-size: 32px; */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

main{
    text-align: center;
    line-height: 40px;
}



/* formattazione stelle margine spazi */
#stars{
    margin: 1em 0;
    margin-bottom: 2em;
}
/* messo il puntatore */
#stars svg{
    cursor: pointer;
}

/* animazione al passaggio del mouse da implementare bene su js */
/* .star:hover{
    fill: #00FFFF;
} */
.active{
    fill: #00FFFF;
}



/* bottone di invio formattazione uguale a quella di Luigi */
form button{
    border-style: none;
    background-color: #00FFFF;
    box-shadow: 0 0 40px #00FFFF;
    padding: 1.5em 4em;
    font-weight: 700;
    font-size: 1rem;
}

/* questa parte non mi serviva */
/* form span{
    font-size: 0.85rem;
    font-weight: 700;
} */
/* formattazione text area della chat */
textarea{
    width: 95%;
    height: 20px;
    background-color: transparent;
    border: none;
    resize:none;
    border-bottom: 2px solid #d20094;
    margin-bottom: 3em;
}
textarea::placeholder{
    font-family: 'Inter', 'sans-serif';
    padding-inline-start: 20px;
}
textarea:focus{
    outline: none;
    color: white;
    font-family: 'Inter', 'sans-serif';
}
